<%- title 'About DocHub' -%>

<p>DocHub&nbsp;&mdash; document repository with social features. With this service you can create documents using handy autofill function.</p>

<p>Any registered user can create doc-template with "magic gaps", and then fill these gaps with wizard. Anytime.
Or any user can find doc-template in public repository, fork them and use later.</p>

<h3>Example</h3>
<p>You create template of contract with fields "Name, Last name, Address". Then using wizard you fill this contract anytime.</p>

<h3>More info</h3>
<p>But it's not all!
You can share your templates with other users or/and fork their templates too.
You can follow for your favorite users and watch for their activities (using special news feed).</p>

<p>So DocHub it's like GitHub for docs!</p>