<%- unless logged_in? -%>
  <%- title 'Welcome to document repository' -%>
  <div class="container-left-half-column">
    <dl>
      <dt><span>Recently updated</span></dt>
      <dd>
        <%- for template in Template.all.public.last_updated -%>
        <ul>
          <li><%= link_to h(template.title), user_template_path(template.user, template) -%> by <%= link_to h(user.username), user_path(user) -%></li>
        </ul>
        <%- end -%>
      </dd>
    </dl>
  </div>
  <div class="container-right-half-column">
    <p>With this service you can create documents using handy autofill function.</p>

    <p>Any registered user can create doc-template with "magic gaps", and then fill these gaps with wizard. <em>Anytime.</em></p>
    <p>Or any user can find doc-template in public repository, fork them and use later.</p>
  </div>
  <br class="clearboth" />
<%- else -%>
  <%= render :partial => "users/show.html", :locals => {:user => current_user} %>
<%- end -%>