<%- unless logged_in? -%>
  <%- title 'Welcome to document templates repository' -%>
  <div class="container-left-half-column">
    <dl>
      <dt><span>Recently updated</span></dt>
      <dd>
        <%- for doclate in Doclate.public.last_updated -%>
        <ul>
          <li><%= link_to h(doclate.title), user_doclate_path(doclate.user, doclate) -%> by <%= link_to h(doclate.user.username), user_path(doclate.user) -%></li>
        </ul>
        <%- end -%>
      </dd>
    </dl>
  </div>
  <div class="container-right-half-column">
    <p>With this service you can create documents using handy autofill function.</p>

    <p>Any registered user can create doclate ("document template") with "magic fields", and then fill these fields with wizard. <em>Anytime.</em></p>
    <p>Or any user can find doclate in public repository, copy them and use later.</p>
    <p><%= link_to 'More info...', about_path -%></p>
  </div>
  <br class="clearboth" />
<%- else -%>
  <%= render :partial => "users/show.html", :locals => {:user => current_user} %>
<%- end -%>