<%- title 'New doclate' -%>

<div class="container-form">
  <%- form_for [@user, @doclate] do |f| -%>
    <%= f.error_messages -%>

    <%= render :partial => "form", :locals => {:f => f} -%>
    <div class="buttonrow">
      <%= submit_tag 'Create' -%> or <%= link_to 'Cancel', :back, :class => 'negative' -%>
    </div>
  <%- end -%>
</div>