<%# title "Edit User" %>
<h1>Edit My Account</h1>

<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p><%= f.submit "Submit" %> <%= link_to 'cancel', :back, :class => 'negative' -%></p>
<% end %>

