<%- title "Edit your account" -%>

<div class="container-form">
<% form_for @user do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div class="buttonrow">
    <%= f.submit "Submit" %> <%= link_to 'cancel', :back, :class => 'negative' -%>
  </div>
<% end %>
</div>

