    <div id="mainpage-body">
      <div id="mainpage-page-header">
        <div class="main-container text-center">
          DocHub&nbsp;&mdash; document repository<br /> with social features.
        </div>
      </div>
      <div id="mainpage-page" class="main-container">
        <%= yield -%>
      </div>
    </div>
